
table{
    margin: 0 auto;
    width: auto;
}
h1{
    color:  rgb(247, 247, 247);
    text-align: center ;
    font-size: 25px;
    background-color:  rgb(36, 117, 72);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    background-color:  rgb(253, 243, 222);
}
img{
    widows: 75px;
    display:block;
    margin:15px auto;
    rgb(201, 125, 39);
}
input[type="submit"]{
  background-color:  rgb(166, 187, 175);
  border-color:  rgb(36, 117, 72);
  color:  rgb(29, 92, 57);
  height: 1cm;
  font-size: 20px ;
  widows: 75px;
  margin:15px auto;
}
